/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #121212; /* Dark background */
  background: linear-gradient(135deg, #1a1a1a 0%, #121212 100%);
  color: #fff;
}

.heroBanner .hero__title {
  text-shadow: 0 0 15px var(--ifm-color-primary), 0 0 30px var(--ifm-color-primary);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.features {
  padding: 4rem 0;
  background-color: #1a1a1a;
  color: #f0f0f0;
}

.featureSvg {
  height: 150px;
  width: 150px;
  margin-bottom: 1rem;
}
