.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modalContent {
  background-color: var(--ifm-background-color);
  padding: 20px;
  border-radius: var(--ifm-border-radius);
  box-shadow: var(--ifm-shadow-xl);
  width: 100%;
  max-width: 500px;
  animation: slide-down 0.3s ease-out;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.modalHeader h4 {
  margin: 0;
  color: var(--ifm-color-primary);
  font-size: 1.5rem;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--ifm-font-color-secondary);
}

.modalBody {
  font-size: 1rem;
}

@keyframes slide-down {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
