@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00e5ff; /* Neon Blue */
  --ifm-color-primary-dark: #00b8cc;
  --ifm-color-primary-darker: #00a0b3;
  --ifm-color-primary-darkest: #007a8a;
  --ifm-color-primary-light: #1affff;
  --ifm-color-primary-lighter: #33ffff;
  --ifm-color-primary-lightest: #66ffff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-font-family-base: "Roboto", sans-serif;
  --ifm-font-family-monospace: "Roboto Mono", monospace;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00e5ff; /* Neon Blue */
  --ifm-color-primary-dark: #00b8cc;
  --ifm-color-primary-darker: #00a0b3;
  --ifm-color-primary-darkest: #007a8a;
  --ifm-color-primary-light: #1affff;
  --ifm-color-primary-lighter: #33ffff;
  --ifm-color-primary-lightest: #66ffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
